

::-moz-selection {
	/* Code for Firefox */
	color: var(--accent-color);
	background: var(--card-color);
}

::selection {
	color: var(--accent-color);
	background: var(--card-color);
}

body {
	background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
a {
	font-family: sans-serif!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
	color: var(--text-color);
}

h1 {
	font-size: 25px!important;
	font-weight: bold!important;
}

h2 {
	font-size: 35px!important;
	font-weight: bold!important;
	text-align: center;
	width: 168px;
	margin-left: auto!important;
	margin-right: auto!important;
}


/*
.navigation h1::before,
.projects h2::before {
	content: ' ';
	display: block;
	width: 16px;
	height: 16px;
	background-color: var(--accent-color);
	margin-top: 5px;
	margin-left: -25px;
	float: left;
}
*/

.navigation h1,
.projects h2 {
	border-left: 10px solid var(--accent-color);
	padding-left: 20px;
}

p {
	font-size: 17px!important;
	line-height: 140%!important;
}

span {
	font-size: 17px!important;
}

a.button {
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 25px;
	text-align: center;
	width: 120px;
	font-size: 13px;
	font-weight: bold;
	transition: all .3s;
}

a.button:hover,
a:hover,
a.button:active,
a:active,
a.button:focus,
a:focus {
	cursor: pointer;
	text-decoration: none!important;
}

a.button.One {
	background-color: var(--accent-color);
	border: 2px solid var(--accent-color);
	color: var(--white-color);
}

a.button.One:hover {
	background-color: var(--white-color);
	border: 2px solid var(--accent-color);
	color: var(--text-color);
}

a.button.Two {
	background-color: var(--white-color);
	border: 2px solid var(--text-color);
	color: var(--text-color);
}

a.button.Two:hover {
	background-color: var(--accent-color);
	border: 2px solid var(--accent-color);
	color: var(--white-color);
}

div.name a {
	color: var(--accent-color)!important;
	font-weight: bold!important;
	font-size: 20px!important;
	display: block;
	padding-bottom: 3px;
	line-height: 140%!important;
	transition: all .3s;
}

h1 a {
	color: var(--text-color)!important;
	transition: all .3s;
}

h1 a:hover,
h1 a:active {
	color: var(--accent-color)!important;
}

div.name a:hover,
div.name a:active {
	color: var(--text-color)!important;
}

.card {
	background-color: var(--card-color);
	box-shadow: -11.31px 11.31px 17px 0px var(--shadows);
	width: 375px;
	padding: 50px 0 0 0;
	border: none;
	border-radius: 0px;
	float: left;
	margin-left: 66%;
	/*66%*/
	margin-top: 285px;
}

.card h1,
.card span {
	margin-left: auto;
	margin-right: auto;
}

.card h1 {
	font-weight: bold;
	width: 200px;
	text-align: center;
}

.card img {
	width: 200px;
	height: auto;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.card .divider {
	height: 2px;
	width: 50px;
	margin: 30px 0;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--accent-color);
}

.card span {
	text-align: center;
	line-height: 135%;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	display: block;
}

.card .socials {
	margin-left: auto;
	margin-right: auto;
	background-color: var(--white-color);
	padding: 15px 10px;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

.card .socials i {
	text-align: center;
	color: var(--text-color);
	font-size: 20px;
	padding: 0px 15px;
	transition: all .3s;
}

.card .socials i:hover,
.card .socials i:active {
	color: var(--accent-color);
}

.project .name {
	margin-bottom: 20px;
	border-left: var(--accent-color) 10px solid;
	padding-left: 20px;
	margin-left: -30px;
}

.navigation {
	padding: 50px;
	background: var(--white-color);
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
}

.pages {
	float: right;
}

.pages a,
.pages #theme-toggle,
.contact a {
	text-transform: uppercase;
	color: var(--text-color)!important;
	line-height: 35px!important;
	font-size: 17px!important;
	padding-right: 20px;
	transition: all .3s;
}

.contact a {
	padding-right: 0px;
}

.mobile-navigation #theme-toggle {
	transition: all .3s;
	color: var(--text-color)!important;
}

.pages a:hover,
.mobile-navigation a:hover,
.contact a:hover,
.pages a:active,
.mobile-navigation a:active,
.contact a:active {
	color: var(--accent-color)!important;
	text-decoration: none;
}

.logo h1 {
	font-weight: bold;
}

.logo span {
	text-transform: uppercase;
	display: inline;
	font-weight: normal;
}

.logo {
	float: left;
}

.behindcard {
	width: 40%;
	float: left;
}

.business {
	background-color: var(--white-color);
	float: left;
	width: 60%;
	padding: 100px 200px 100px 150px;
}

.business p span.greeting {
	display: block;
	font-weight: bold;
	font-size: 100px!important;
	padding-bottom: 50px!important;
}

.business p span.intro {
	display: block;
	font-size: 25px!important;
}

div.introbuttons {
	margin: 40px 0;
}

.businesspiece {
	width: 369px;
	margin-top: 285px;
}

.projects {
	padding: 190px 20px 100px 20px;
	clear: both;
}

.projects p.intro {
	width: 668px;
	padding-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.about {
	width: 100%;
}

div.project {
	margin-top: 50px;
	width: 750px;
	height: 404px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: -11.31px 11.31px 17px 0px var(--shadows);
}

div.projectDetails {
	background-color: var(--white-color);
	height: 404px;
	padding: 50px 30px;
	width: 50%;
	float: left;
}

div.projectImage {
	height: 404px;
	width: 50%;
	float: left;
	background-position: center;
	background-size: 364px;
	background-repeat: no-repeat;
	transition: all .3s;
}

div.projectImage:hover {
	background-size: 415px;
}


/*#about {
height:135px;
width:100%;
background-color:var(--white-color);
}*/

.canvas {
	background: var(--bg-color);
}

div.contact {
	width: 100% !important;
	padding: 20px 40px;
	background-color: var(--white-color);
	text-align: center;
	float: left;
	display: none;
}

.nav-toggle {
	color: var(--text-color);
	cursor: pointer;
	transition: all .3s;
}

.nav-toggle:hover,
.nav-toggle:active {
	color: var(--accent-color);
}

.nav-toggle, .nav-mobile-header {
	display: none!important;
}

@media (max-width: 1700px) {
	.card {
		margin-left: 44%;
	}
}

@media (max-width: 1160px) {
	.card {
		margin-left: 22%;
	}
}

@media (max-width: 1083px) {
	.navigation h1 {
		margin-left: -30px!important;
		margin-bottom: 10px!important;
	}
}

@media (max-width: 890px) {
	div.business {
		padding-left: 80px;
	}
	div.businesspiece {
		width: 280px;
	}
	.card {
		margin-left: 0%;
		width: 350px;
	}
}

@media (max-width: 800px) {
	a.desktop-about-link {
		display: none!important;
	}
	a.mobile-about-link {
		display: inline-block!important;
	}
	div.contact {
		margin-top: 50px;
		display: block;
	}
	.card {
		width: 300px;
	}
	div.project {
		padding: 0px!important;
	}
	p.intro {
		width: 100%!important;
	}
	div.projectDetails {
		width: 100%;
		padding: 30px;
		height: auto!important;
	}
	div.project,
	div.projectImage {
		width: 100%;
	}
	div.project {
		height: auto;
	}
	div.projectImage {
		margin-bottom: 50px;
		box-shadow: -11.31px 11.31px 17px 0px var(--shadows);
	}
}

@media (max-width: 650px) {
	.card span {
		font-size: 15px!important;
	}
	.pages a {
		width: 50%;
		float: left;
		font-size: 15px!important;
	}
	
	.nav-toggle {
	display:block!important;
	}
	.pages {
		position: fixed;
		overflow: hidden;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: var(--white-color);
		padding:20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		font-size: 1.75rem;
		z-index: 100;
		-webkit-transform: translate3D(100%, 0, 0);
		transform: translate3D(100%, 0, 0);
		-webkit-transition: -webkit-transform 200ms linear;
		transition: -webkit-transform 200ms linear;
		transition: transform 200ms linear;
		transition: transform 200ms linear, -webkit-transform 200ms linear;
		will-change: transform;
	}
	.pages.open {
		transform: translate3D(0, 0, 0);
	}
	.navigation h1 span {
		font-size: 15px!important;
	}
	.navigation h1 {
		margin-bottom: 0px!important;
	}
	.navigation {
		padding: 20px 40px!important;
		height: auto!important;
		position: relative;
		display: inline flow-root list-item;
	}
	.business p span.greeting {
		font-size: 80px!important;
	}
	.card,
	.behindcard,
	.business,
	.businesspiece,
	.projects,
	div.project,
	.projects p.intro,
	div.project p,
	div.projectDetails,
	div.projectImage {
		width: 100%!important;
	}
	div.project {
		padding: 0px!important;
	}
	div.projectDetails {
		padding: 30px;
		height: auto!important;
		margin-bottom: 0px;
	}
	div.projectImage {
		margin-bottom: 0px;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}
	.card {
		margin-top: 0px;
	}
	.businesspiece {
		margin-top: 0px;
	}
	.business,
	.projects {
		padding: 100px 20px!important;
	}
	.business {
		padding-bottom: 80px!important;
	}
	.projects {
		padding-top: 80px!important;
	}
	div.project {
		height: auto;
		float: left;
	}
	a.button.Two {
		margin-top: 10px;
	}
}

@media (max-width: 364px) {
	div.projectImage {
		background-size: 326px;
	}
}

html,
html[data-theme="light"] {
	--text-color: #000000;
	--accent-color: #4C785D;
	--card-color: #F4ECE6;
	--white-color: #FFFFFF;
	--bg-color: #E6DACE;
	--shadows: rgba(138, 131, 124, 0.23);
}

html[data-theme="dark"] {
	--text-color: lavender;
	--accent-color: violet;
	--card-color: #010111;
	--white-color: #000031;
	--bg-color: #1a1646;
	--shadows: rgba(1, 0, 19, 0.47);
}

@media (prefers-color-scheme: dark) {
	html,
	html[data-theme="dark"] {
		--text-color: lavender;
		--accent-color: violet;
		--card-color: #010111;
		--white-color: #000031;
		--bg-color: #1a1646;
		--shadows: rgba(1, 0, 19, 0.47);
	}
	html[data-theme="light"] {
		--text-color: #000000;
		--accent-color: #4C785D;
		--card-color: #F4ECE6;
		--white-color: #FFFFFF;
		--bg-color: #E6DACE;
		--shadows: rgba(138, 131, 124, 0.23);
	}
}

